.città {    
    font-size: 25px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.icon{
    float: left;
}

.fore{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 1700px;
    margin-top: -190px;
}

.tempo{
    font: bold 15px/1.5 Space Grotesk,Arial,sans-serif;
    color: black;
    
}

.orange-side{
    border-left: 1px solid #eb6e4b;
}

.des{
    text-transform:capitalize ;
    font: bold 15px/1.5 Space Grotesk,Arial,sans-serif;
}

.info{
    font-family:  Grotesk,Arial,sans-serif;
    color: black;
}

.iconas{
    float:right;
    margin-right: 400px;
}

.pi{
    margin-right: 720px;
    float: right;
    margin-top: -290px;
    font: bold 15px/1.5 Space Grotesk,Arial,sans-serif;
}

.lista{
    height: 150px;
    overflow: auto;
    list-style: none;
    float: right;
    margin-right: 670px;
    margin-top: -270px;
    font-family:  Grotesk,Arial,sans-serif;
}




