@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';


/*

 .weather-widget {
    border: 1px solid #ad3800;
    border-radius: 12px;
 }

 .weather-widget > #forecast {
    margin-top: -15px;
    margin-left: 1px;
 }

 .weather-widget > #forecast, .weather-widget > p > #feel-like {
    color: #707070;
    font-size: 14px;
 }

 .weather-widget > p > #temp {
     font-size: 32px;
 }

 .weather-widget > p:not([id]) {
    margin-left: -18px;
    margin-top: -25px;
 }


*/