

table{
    width: 500px;
    height: 200px;
    border-collapse: collapse;
    border: medium solid rgb(0, 0, 0);
}

thead{
    background-color: rgb(188, 188, 238);
    text-transform: capitalize;
    font: bold 15px/1.5 Space Grotesk,Arial,sans-serif;
}

th, td {
    border: medium solid rgb(69, 69, 133);
  }


tr:hover{
 background-color: rgb(110, 110, 161);
}

button{
    float: right;
}

button:hover{
    background-color: yellowgreen;
    border-radius: 2px;
}

